.cart-page{

    background:#FFFDF8;
    min-height:100vh;
    padding:50px 8%;
}


.cart-page h1{

    text-align:center;
    font-family:Cinzel,serif;
}


.cart-container{

    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:30px;
    margin-top:40px;

}


.cart-card{

    display:flex;
    gap:20px;
    background:white;
    padding:20px;
    border-radius:15px;
    box-shadow:0 8px 20px rgba(0,0,0,0.1);

}


.cart-card img{

    width:120px;
    height:120px;
    object-fit:cover;
    border-radius:10px;

}


.cart-card button{

    background:#D4AF37;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:8px;
    cursor:pointer;

}


.cart-total{

    margin-top:40px;
    text-align:right;

}


.cart-total button{

    background:#0F0F0F;
    color:white;
    padding:15px 30px;
    border:none;
    border-radius:10px;
    cursor:pointer;

}


.empty{

    text-align:center;
}


@media(max-width:768px){

.cart-container{

grid-template-columns:1fr;

}


.cart-card{

flex-direction:column;

}

}