.collection-page{

padding:60px;

background:#fffdf8;

min-height:100vh;

}



.collection-page h1{

text-align:center;

font-family:serif;

font-size:42px;

color:#D4AF37;

margin-bottom:50px;

}



.products-container{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:30px;

}



/* Responsive */

@media(max-width:900px){

.products-container{

grid-template-columns:repeat(2,1fr);

}

}



@media(max-width:600px){

.products-container{

grid-template-columns:1fr;

}

}