.home {

  width:100%;

  background:#FFFDF8;

}


.shop-layout {

  display:flex;

  gap:30px;

  padding:40px;

  align-items:flex-start;

}


/* Filter */

.filter {

  width:250px;

  flex-shrink:0;

}


/* Right section */

.right-section {

  flex:1;

}


/* Categories */

.right-section .categories {

  margin-bottom:30px;

}


/* Products */

.right-section .products {

  width:100%;

}



@media(max-width:768px){

  .shop-layout{

    flex-direction:column;

  }


  .filter{

    width:100%;

  }

}