.search-page{

padding:50px;

background:#FFFDF8;

min-height:100vh;

}



.search-page h1{

text-align:center;

font-family:"Playfair Display",serif;

font-size:40px;

color:#0F0F0F;

margin-bottom:35px;

}



/* Search Box */

.search-box{

display:flex;

justify-content:center;

margin-bottom:40px;

}



.search-box input{

width:500px;

padding:15px 25px;

border-radius:30px;

border:1px solid #ddd;

font-size:16px;

outline:none;

}



.search-box input:focus{

border-color:#D4AF37;

}



/* Products */

.search-products{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:25px;

}



/* Card */

.search-card{

background:white;

padding:20px;

border-radius:15px;

text-align:center;

box-shadow:0 8px 20px rgba(0,0,0,0.1);

transition:.3s;

}



.search-card:hover{

transform:translateY(-8px);

}



.search-card img{

width:100%;

height:220px;

object-fit:contain;

}



.search-card h3{

font-family:"Playfair Display",serif;

}



.search-card p{

color:#D4AF37;

font-weight:bold;

font-size:18px;

}



.search-card button{

background:#D4AF37;

border:none;

padding:12px 25px;

border-radius:25px;

cursor:pointer;

}



.search-card button:hover{

background:#0F0F0F;

color:white;

}



/* Responsive */

@media(max-width:1000px){

.search-products{

grid-template-columns:repeat(2,1fr);

}

}



@media(max-width:600px){

.search-products{

grid-template-columns:1fr;

}


.search-box input{

width:90%;

}

}