/* Category Section */

.categories-section {
  width: 90%;
  margin: 60px auto;
}


/* Heading */

.category-title {
  text-align: center;
  color: #000;
  font-size: 36px;
  font-family: Georgia, serif;
  font-weight: 700;
  margin-bottom: 50px;
}


/* Categories Layout */

.categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
}


/* Category Item */

.category {
  text-align: center;
  background: transparent;
  transition: 0.3s ease;
}


.category:hover {
  transform: translateY(-8px);
}


/* Images */

.category-img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}


/* Category Name */

.category h2 {
  margin: 18px 0;
  font-size: 26px;
  color: #222;
  font-family: Georgia, serif;
}


/* Explore Button */

.category button {

  padding: 12px 30px;

  background: #D4AF37;

  color: white;

  border: none;

  border-radius: 30px;

  font-size: 16px;

  cursor: pointer;

  transition: 0.3s;
}


.category button:hover {

  background: #000;

}


/* Tablet */

@media(max-width: 992px){

  .categories{
    grid-template-columns: repeat(2,1fr);
  }

}


/* Mobile */

@media(max-width:768px){

  .categories{
    grid-template-columns: 1fr;
  }


  .category-img{
    height:230px;
  }

}