.navbar{

width:100%;

background:#0F0F0F;

color:white;

position:sticky;

top:0;

z-index:1000;

}



/* TOP ROW */

.top-navbar{

height:85px;

display:flex;

align-items:center;

justify-content:space-between;

padding:0 70px;

position:relative;

}



/* LOGO CENTER */

.logo{

position:absolute;

left:50%;

transform:translateX(-50%);

}


.logo img{

width:140px;

height:auto;

}



/* ICONS */

.nav-icons{

display:flex;

align-items:center;

gap:25px;

margin-left:auto;

}


.nav-icons a{

color:white;

text-decoration:none;

}


.nav-icons svg{

font-size:22px;

}


.nav-icons svg:hover{

color:#D4AF37;

}



.login-logo{

width:38px;

height:38px;

border-radius:50%;

object-fit:cover;

border:2px solid #D4AF37;

}





/* MENU */

.menu{

height:50px;

display:flex;

align-items:center;

justify-content:center;

gap:40px;

border-top:1px solid rgba(255,255,255,0.2);

}



.menu a{

color:white;

text-decoration:none;

font-size:16px;

}



.menu a:hover{

color:#D4AF37;

}



/* FILTER BUTTON */


.filter-btn{

position:absolute;

left:70px;

background:none;

border:none;

color:white;

display:flex;

align-items:center;

gap:8px;

font-size:16px;

cursor:pointer;

}



.filter-btn:hover{

color:#D4AF37;

}